@use '../helpers' as *;

.todo-item {
    
    @include hover {
        background-color: var(--color-gray-5);
    }

    &__checkbox {
        flex-shrink: 0;
        appearance: none;
        position: relative;
        width: rem(20);
        height: rem(20);
        margin: 0;
        border: var(--border);
        border-radius: rem(4);

        position: relative;
        cursor: pointer;
        z-index: 10;

        &:not(:checked) {
            &::after {
                opacity: 0;
            }
        }

        &:checked {
            background-color: var(--color-dark);
            border-color: var(--color-dark);

            &::after {
                opacity: 1;
            }

            &+.todo-item__label {
                color: var(--color-gray-4);
                text-decoration: line-through;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;

            @include square(rem(16));

            background: url('../icons/checked.svg') center center / contain no-repeat;
        }
    }

    &__label {
        width: 100%;
        pointer-events: none;
    }

    &__delete-button {
        flex-shrink: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @include square(var(--input-height));

        margin-left: auto;
        padding: 0;
        color: var(--color-gray-4);
        background-color: transparent;
        border: none;
        border-radius: inherit;
        transition-duration: var(--transition-duration);

        &:hover {
            background-color: var(--color-dark);

            &::after,
            &::before {
                background-color: var(--color-white);
            }
        }

        &:active {
            scale: 1.05;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: rem(2);
            height: rem(15);
            background-color: var(--color-gray-4);
            border-radius: rem(2);
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }

        * {
            pointer-events: none;
            overflow: hidden;
        }
    }

    &--is-dragging {
        background-color: var(--color-gray-4);
        scale: 1.05;
        transform: rotate(0.4deg);
        cursor: grabbing;
        position: absolute;
        z-index: 1000;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

.todo-item,
.todo-item--placeholder {
    display: flex;
    align-items: center;
    padding-left: var(--gap);
    border: var(--border);
    border-radius: var(--border-radius);
    height: var(--input-height);
    column-gap: var(--gap);
    transition-duration: var(--transition-duration);
    cursor: grab;
    touch-action: none;
    user-select: none;
}